<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Music Recommendations</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}?rnd=3">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js"
            integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl"
            crossorigin="anonymous"></script>


  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/css/one-page-wonder.min.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->


  <header class="masthead text-left text-black">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0">Recommendations to Groups</h1>
          <h5>
              The purpose of this study is to analyze user’s perceptions about group recommendations
              presented in different ways. Francesco Barile, Assistant Professor at Maastricht University
              (Department of Advanced Computing Sciences - DACS) and Pierre Hurlin (check affiliation)
              are conducting this study.
          </h5>
          <h5>
              Your participation in this research study is voluntary. You may choose not to participate.
              If you decide to participate in this research survey, you may withdraw at any time.
              If you do not complete the survey, we will treat it as a withdrawal and your answers thus
              far will not be used.
          </h5>
          <h5>
              The procedure involves evaluating several depicted scenarios and answering to a survey.
              The whole experiment should have a duration of about 10 minutes.
              What to expect?
              <ul style="list-style-position: inside;">
                  <li>
                      You will be asked to provide demographic info (age group and gender).
                  </li>
                  <li>
                      Then, you will be asked to evaluate six presented group recommendation scenarios.
                  </li>
                  <li>
                      Finally, you will be asked to evaluate a final scenario.
                  </li>
              </ul>
          </h5>
          <h5>
              All data is stored in a password protected electronic format. We will not store any information that will
              personally identify you, including IP addresses.

              The results of this study will be used for the creation of scholarly publication.
              Furthermore, a public dataset will be generated and made available to the scientific community;
              in this case, only anonymized data will be included in such dataset.
          </h5>
          <h5>
              If you have any questions about the research study, please contact Francesco Barile at the following mail address:
          </h5>
          <h5>
              f.barile@maastrichtuniversity.nl
          </h5>
          <h5>
              This research has been reviewed by the Ethics Review Committee Inner City faculties (ERCIC) at the Maastricht University.
          </h5>
          <h5>
              ELECTRONIC CONSENT: Please select your choices below.
          </h5>

          <h5>
<!--              <ul style="list-style-position: inside;">-->
<!--                  <li>You have read the above information</li>-->
<!--                  <li>You voluntarily agree to participate</li>-->
<!--                  <li>You are at least 18 years of age</li>-->
<!--              </ul>-->
              <ul class="list-group">
                      <li class="list-group-item-consent list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="..." id="agree_1" onclick="enableAgree();">
                        I have read the above information and agree
                      </li>
                      <li class="list-group-item-consent list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="..." id="agree_2" onclick="enableAgree();">
                        I am at least 18 years of age
                      </li>
                      <li class="list-group-item-consent list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="..." id="agree_3" onclick="enableAgree();">
                        I voluntarily agree to participate
                      </li>
                  </ul>
          </h5>
          <h5>
              If you do not wish to participate in the research study, please decline participation by clicking on the “disagree” button.
          </h5>
          <form action="instructions" method="get">
              <button type="submit" class="btn-success btn btn-lg btn-block text-uppercase btn-outline" id="agree_btn" style="" disabled>
                  <span class="buttonText">Agree and Register</span>
              </button>
          </form>
          <form action="quit_experiment" method="get">
              <button type="submit" class="btn-danger btn btn-lg btn-block text-uppercase btn-outline" id="" style="">
                  <span class="buttonText"> Disagree and Quit</span>
              </button>
          </form>

      </div>
    </div>

  </header>

  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script>
    function enableAgree() {
        var check1 = document.getElementById("agree_1");
        var check2 = document.getElementById("agree_2");
        var check3 = document.getElementById("agree_3");
        if (check1.checked == true && check2.checked == true && check3.checked == true) {
            document.getElementById("agree_btn").disabled = false;
        } else {
            document.getElementById("agree_btn").disabled = true;
        }
    }
</script>

</body>

</html>
